---
layout: page
tagline: Supporting tagline
---
{% include JB/setup %}

<div id="blogindex">
  阅读文献：
  <ul class = "posts">
    <li> <a href = "https://reserverisk.github.io/article/1.pdf>Reserving risk </a></li>
	</ul>
	
	<hr>
  讨论笔记：
  <ul class="posts">
    {% for post in site.categories.note  %}
      <li>
        <a class="postlink" href="{{ post.url }}">{{ post.title }}</a>
        <span class="timestamp">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
  <HR>
  一些总结：
    <ul class="posts">
    {% for post in site.categories.result  %}
      <li>
        <a class="postlink" href="{{ post.url }}">{{ post.title }}</a>
        <span class="timestamp">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
</div>