<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/kube.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css" />
	<link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	{% if 0 > 1 %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="{{ root_url }}{{ post.url }}">
		<meta name="twitter:title" content="{{ post.title }}">
		<meta name="twitter:description" content="{{ post.content[0, 200] }}">
		<meta name="twitter:site" content="{{ author.twitter }}">
		<meta name="twitter:creator" content="{{ author.twitter }}">
	{% endif %}
<style type="text/css">
div#header{background-color:#ffff99;height:100px;}
div#third{width:33%;float:left}
div#twothird{width:67%;float:left}
div#content{width:80%}
</style>
</head>
<body>
<!-- mathjax config similar to math.stackexchange -->
<script src="https://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
	<div class="container">
		<div class="row">
			<div class="threequarter centered">
				<h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
				<div id = "header">
				<h1>Reserve Risk; Risk Margin; Solvency II  </h1>
				</div>
				<hr />
				<div class="row container">
					<div id="third">
						<h3>About me</h3>
						<figure class="image">  
							<img src="https://github.com/gaolei786/gaolei786.github.com/raw/master/images/me.png" class="gravatar" alt="{{ site.author.gravatar.url }}" width="200" height="200" />
							<figcaption>{{ site.author.gravatar.caption }}</figcaption>  
						</figure>
						<br />
						<p><a href="http://cos.name">Statistics</a>, <a href="http://www.r-project.org">R</a> ,Run,Learning English.</p>
						
						<div>
							<p><a href="http://weibo.com/u/1374894974" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @{{ site.author.weibo }}</a></p>
						<p><iframe src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe></p>
						</div>
					</div>
					<div id="twothird">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>


</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% include JB/analytics %}
</body>
</html>
